<div class="container">
    <div class="good">
        <h1>{{good.title}}</h1>
        <img src='{{good.img}}' alt='{{good.title}}'>
        <p>{{good.description}}</p>
        <p class='card-price'>{{good.price}}</p>
    </div>
</div>